<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;

    }

    h1 {
        color: #333;
        text-align: center;
    }

    img {
      width: 50%;
      border-radius: 10%;
    }
    
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
        margin: 20px;
        text-align: justify;
        line-height: 1.5;
    }

    h2 {
        color: #333;
        margin: 20px 0;
    }



    ul {
        list-style-type: disc;
        margin: 20px;
        padding-left: 20px;
    }

    li {
        margin-bottom: 10px;
    }
</style>